<?xml version="1.0"?>
<config>
    <modules>
        <Aoe_SessionVars>
            <version>0.1.0</version>
        </Aoe_SessionVars>
    </modules>
    <global>
        <models>
            <aoe_sessionvars>
                <class>Aoe_SessionVars_Model</class>
            </aoe_sessionvars>
            <widget>
                <rewrite>
                    <template_filter>Aoe_SessionVars_Model_Template_Filter</template_filter>
                </rewrite>
            </widget>
        </models>
    </global>
    <frontend>
        <events>
            <controller_action_predispatch>
                <observers>
                    <capture_sessionvars>
                        <class>aoe_sessionvars/observer</class>
                        <method>setSessionVars</method>
                        <type>singleton</type>
                    </capture_sessionvars>
                </observers>
            </controller_action_predispatch>
        </events>
        <aoe_sessionvars>
            <vars>
                <!-- Check Readme.md for documentation and examples -->
            </vars>
        </aoe_sessionvars>
    </frontend>
</config>
